body{
    margin: 0;
    padding: 0;

    font-family: monospace;
}

header {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;

    text-align: left;
}

h1 {
    margin: 0;
    padding: 0;
    margin-left: 12%;
}

h3 {
    display: inline;
    margin: 0;
    padding: 0;
}

header > input {
    margin: 0;
    padding: 0;

    margin: 0;
    padding: 0;
    margin-left: 15%;
    
    border: none;
    background: none;

    text-align: center;
    color: black;
}

::-webkit-calendar-picker-indicator{
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#rolelist {
    margin-top: 1em;
    text-align: left;
}

.rolelist-role {
    margin-top: 5px;
    width: 100%;
}

.rolelist-role > h3 {
    display: inline-block;
    font-size: small;
    margin-left: 10%;
    width: 100px;
}

a {
    color: currentColor;
    text-decoration: none;
}

.navbar {
    height: 70px;
    width: 100%;
    background: black;
    color: white;
}